<mat-toolbar color="" class="card-header"> Examens section Informatique <form _ngcontent-nun-c2="" class="navbar-form">
    <span _ngcontent-nun-c2="" class="bmd-form-group">
        <div _ngcontent-nun-c2="" class="input-group no-border">
            <input _ngcontent-nun-c2="" class="form-control" placeholder="Search..." type="text" value="">
            <button _ngcontent-nun-c2="" class="btn btn-white btn-round btn-just-icon" mat-raised-button="" type="submit">
                <i _ngcontent-nun-c2="" class="material-icons">search</i>
                <div _ngcontent-nun-c2="" class="ripple-container">
                </div>
            </button></div></span></form></mat-toolbar>
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Examen 2024</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://th.bing.com/th/id/OIP.Khyuq4efL22V3NuqiwwrNgHaHa?rs=1&pid=ImgDetMain"
          />
          <mat-card-content>
            <p>The Himalayas is a mountain range in Asia.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>View</button>
            <button mat-button>Delete</button>
            <mat-checkbox color="primary">Verified</mat-checkbox>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Examen 2024</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://th.bing.com/th/id/OIP.Khyuq4efL22V3NuqiwwrNgHaHa?rs=1&pid=ImgDetMain"
          />
          <mat-card-content>
            <p>The Himalayas is a mountain range in Asia.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>View</button>
            <button mat-button>Delete</button>
            <mat-checkbox color="primary">Verified</mat-checkbox>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Examen 2024</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://th.bing.com/th/id/OIP.Khyuq4efL22V3NuqiwwrNgHaHa?rs=1&pid=ImgDetMain"
          />
          <mat-card-content>
            <p>The Himalayas is a mountain range in Asia.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>View</button>
            <button mat-button>Delete</button>
            <mat-checkbox color="primary">Verified</mat-checkbox>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Examen 2024</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://th.bing.com/th/id/OIP.Khyuq4efL22V3NuqiwwrNgHaHa?rs=1&pid=ImgDetMain"
          />
          <mat-card-content>
            <p>The Himalayas is a mountain range in Asia.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>View</button>
            <button mat-button>Delete</button>
            <mat-checkbox color="primary">Verified</mat-checkbox>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Examen 2024</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://th.bing.com/th/id/OIP.Khyuq4efL22V3NuqiwwrNgHaHa?rs=1&pid=ImgDetMain"
          />
          <mat-card-content>
            <p>The Himalayas is a mountain range in Asia.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>View</button>
            <button mat-button>Delete</button>
            <mat-checkbox color="primary">Verified</mat-checkbox>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Examen 2024</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://th.bing.com/th/id/OIP.Khyuq4efL22V3NuqiwwrNgHaHa?rs=1&pid=ImgDetMain"
          />
          <mat-card-content>
            <p>The Himalayas is a mountain range in Asia.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>View</button>
            <button mat-button>Delete</button>
            <mat-checkbox color="primary">Verified</mat-checkbox>
          </mat-card-actions>
        </mat-card>
      </div>
      
    </div>
  </div>
  