<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enicollab Dashboard</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap Icons CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <style>
    .sidebar {
      min-height: 100vh;
    }

    .card {
      border: none;
    }

    .h-100-vh {
      height: 100vh;
    }

    .card-body {
      padding: 2rem;
    }

    .card-icon {
      font-size: 2.5rem;
    }

    body {
      background-color: #15213A;
    }

    .card-bg {
      background-color: #62A3AD !important;
    }

    .card-text {
      color: white;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-auto bg-light sticky-top">
        <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
          <ul
            class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
            <li class="nav-item">
              <a routerLink="/dashboard" class="nav-link py-3 px-3 text-bg-primary" style="color: rgb(49, 111, 107);"
                title="" data-bs-toggle="tooltip" data-bs-placement="right" routerLink="/dashboard"
                data-bs-original-title="Home">
                <i class="bi-house fs-3"></i>
              </a>
            </li>
            <li>
              <a routerLink="/chart" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Customers">
                <i class="bi-clipboard2-data-fill fs-3"></i>
              </a>
            </li>
            <li>
              <a routerLink="/offre-de-stage" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Customers">
                <i class="bi-list-ul fs-3"></i>
              </a>
            </li>
            <li>
              <a routerLink="/validate-offre" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Customers">
                <i class="bi-check-square-fill fs-3"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle bg-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="bi-people fs-3"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Log out</a>
                <a class="dropdown-item" href="#">Profile</a>
              </div>
            </li>
          </ul>    
        </div>
      </div>
      <div class="col-sm p-3">
        <!-- Dashboard content -->
        <section>
          <div class="row justify-content-center align-items-center h-100-vh">
            <div class="col-sm-auto">
              <div class="row justify-content-center">
                <div class="col-md-6 col-lg-6">
                  <div class="card card-bg shadow">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                      <i class="bi bi-building fs-1 text-primary card-icon mb-3"></i>
                      <div class="text-center card-text">
                        <h3 class="mb-0">20</h3>
                        <p class="mb-0">Matieres</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 mt-4 mt-md-0">
                  <div class="card card-bg shadow">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                      <i class="bi bi-megaphone fs-1 text-warning card-icon mb-3"></i>
                      <div class="text-center card-text">
                        <h3 class="mb-0">15</h3>
                        <p class="mb-0">Taches</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 mt-4">
                  <div class="card card-bg shadow">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                      <i class="bi bi-person fs-1 text-success card-icon mb-3"></i>
                      <div class="text-center card-text">
                        <h3 class="mb-0">40</h3>
                        <p class="mb-0">Etudiants</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 mt-4">
                  <div class="card card-bg shadow">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                      <i class="bi bi-book fs-1 text-danger card-icon mb-3"></i>
                      <div class="text-center card-text">
                        <h3 class="mb-0">44</h3>
                        <p class="mb-0">Projets</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>

</html>