<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enicollab Dashboard</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap Icons CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <style>
    .sidebar {
      min-height: 100vh;
    }

    .card {
      border: none;
    }

    .h-100-vh {
      height: 100vh;
    }

    .card-body {
      padding: 2rem;
    }

    .card-icon {
      font-size: 2.5rem;
    }

    body {
      background-color: #62A3AD;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-sm-auto bg-light sidebar">
        <div class="d-flex flex-column align-items-center bg-light sticky-top">
          <!-- Sidebar Content -->
        </div>
      </div>
      <!-- Main Content -->
      <div class="col-sm p-3">
        <!-- Dashboard content -->
        <section>
          <div class="row justify-content-center align-items-center h-100-vh">
            <div class="col-sm-auto">
              <div class="row justify-content-center">
                <div class="col-md-6 col-lg-6">
                  <div class="card bg-light shadow">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                      <i class="bi bi-building fs-1 text-primary card-icon mb-3"></i>
                      <div class="text-center">
                        <h3 class="mb-0">278</h3>
                        <p class="mb-0">Stages</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 mt-4 mt-md-0">
                  <div class="card bg-light shadow">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                      <i class="bi bi-megaphone fs-1 text-warning card-icon mb-3"></i>
                      <div class="text-center">
                        <h3 class="mb-0">156</h3>
                        <p class="mb-0">Offres de stage</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 mt-4">
                  <div class="card bg-light shadow">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                      <i class="bi bi-person fs-1 text-success card-icon mb-3"></i>
                      <div class="text-center">
                        <h3 class="mb-0">410</h3>
                        <p class="mb-0">Etudiants</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 mt-4">
                  <div class="card bg-light shadow">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                      <i class="bi bi-book fs-1 text-danger card-icon mb-3"></i>
                      <div class="text-center">
                        <h3 class="mb-0">43</h3>
                        <p class="mb-0">Projets</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>

</html>